.video-container{
  height: 70vh;
  border-radius: 20px;
  background-color: white;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.video-container::-webkit-scrollbar{
  display: none;
}

.videos{
  position: relative;
}
.fa{
  position: absolute;
  bottom: 18%;
  left: 10%;
}

.fa h4{
  margin: 0;
  margin-top: 8%;
  margin-left: 3%;

}

.icon-styling{
  position: absolute;
  bottom: 28%;
  right:7%;
  font-size: 2rem;
}

.like{
  color: #e74c3c;
  cursor: pointer;
}

.unlike{
  color: white;
  cursor: pointer;
}

.unlike-modal{
  color: grey;
  cursor: pointer;
}

.chat-styling{
  position: absolute;
  bottom: 20%;
  right:7%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.modal-container{
  display: flex;
  height: 100%;
  width: 100%;
}

.video-modal{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.comment-modal{
  min-height: 100%;
  width: 100%;
}

.video-modal video{
  height: 85vh;
  width: 90%;
}

.modal-video{
  height: 100%;
  width: 100%;
}

.modal-video video{
  height: 84vh;
}

.allCommentsCard{
  height: 60vh;
}

.comments-div{
  margin-top: 6%;
}

@media (max-width: 700px) {
  .video-modal{
    display: none;
  }
  .addToCommentsBtn{
   margin-left: 0 !important;
  }
  .addToCommentsDiv{
    margin-left: 2%;
    margin-bottom: 5%;
  }
}